*.o
*.lo
*.a
*.la
Makefile
config.*
bfd/.deps/
bfd/.libs/
bfd/libtool
bfd/po/BLD-POTFILES
bfd/po/Makefile.in
bfd/po/SRC-POTFILES
bfd/stamp-h1
bfd/stamp-lib
bfd/stamp-ofiles
gdb/.deps/
gdb/build-gnulib/
gdb/data-directory/python/
gdb/data-directory/stamp-python
gdb/data-directory/stamp-syscalls
gdb/data-directory/syscalls/
gdb/gdb-gdb.gdb
gdb/gdbserver/.deps/
gdb/gdbserver/build-gnulib-gdbserver/
gdb/gdbserver/stamp-h
gdb/gdbserver/stamp-xml
gdb/gdbserver/x32-avx-linux.c
gdb/gdbserver/x32-linux.c
gdb/nm.h
gdb/stamp-h
gdb/stamp-xml
gdb/test.cmi
gdb/test.cmx
gdb/test.exe
gdb/test.ml
libdecnumber/stamp-h1
libiberty/stamp-h
libiberty/stamp-picdir
opcodes/.deps/
opcodes/.libs/
opcodes/libtool
opcodes/po/Makefile.in
opcodes/po/POTFILES
opcodes/stamp-h1
opcodes/stamp-lib
readline/stamp-h
serdep.tmp
